@import "./components/SwitchInput/switchInput.css";
@import "./components/Navbar/navbar.css";
@import "./components/WindowSelect/windowSelect.css";
@import "./components/DefinitionsBlock/definitionsBlock.css";
@import "./components/SearchForm/searchForm.css";
@import "./components/Player/player.css";
@import "./components/SwitchInput/switchInput.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root {
    @apply max-w-3xl m-auto px-6 mb-20 desktop:p-0;
  }
}

@layer base {
  :root {
    --inter: 'Inter', sans-serif;
    --lora: 'Lora', serif;
    --inconsolata: 'Inconsolata', monospace;
    font-family: var(--inter);
    
    @apply scroll-smooth;
  }
}